pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.#*
/bin/
.class*
.project*
.nrepl-history

# IntelliJ files
*.ids
*.iml
*.ipr
*.iws
.idea/


